* {
    font-family: Helvetica, sans-serif, Arial;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.header {
    margin: 0;
    padding: 5px;
    color: rgb(173, 216, 230);
    text-shadow: 2px 2px 4px rgb(173, 214, 230);
    font-size: 64px;
    font-weight: 900;
}

.squares-container {
    display: grid;
    width: 600px;
    height: 600px;
    gap: 0;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
}

.square {
    border: 1px solid black;
}

.color-header {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color:rgb(173, 214, 230);
    text-shadow: 1px 1px 4px rgb(173, 214, 230);
}

.settings {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
}

.rgb {
    padding: 0;
    width: 150px;
    height: 50px;
    border: none;
    margin-top: -6px;
}

.hex-value {
    width: 145px;
    height: 30px;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    align-self: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #87ceeb;
    color: #1b7599;
    border-color: #659db3;
    font-weight: bold;
}

.buttons.toggle {
    color: #87ceeb;
    background-color: #1b7599;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container p {
    text-align: center;
    font-size: 14px;
}

.slider-container output {
    font-size: 14px;
}


